<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Tax Percentage</string>
			<key>Key</key>
			<string>taxPercentage</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Tax Toggle</string>
			<key>Key</key>
			<string>taxToggle</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Service Slider Default Setting</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>MaximumValue</key>
			<integer>20</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>serviceSlider</string>
			<key>DefaultValue</key>
			<real>10</real>
			<key>Title</key>
			<string>Service Slider</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Background Color</string>
			<key>Titles</key>
			<array>
				<string>white</string>
				<string>blue</string>
				<string>lightGrey</string>
			</array>
			<key>Values</key>
			<array>
				<string>white</string>
				<string>blue</string>
				<string>lightGrey</string>
			</array>
			<key>Key</key>
			<string>BGColor</string>
			<key>DefaultValue</key>
			<string>white</string>
		</dict>
	</array>
</dict>
</plist>
